@import '../../style/variables.scss';

.single-char {
  margin-top: 50px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 300px 550px auto;
  gap: 50px;
  &__img {
    width: 300px;
    height: 300px;
  }
  &__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
  }
  &__descr {
    margin-top: 25px;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
  }
  &__comics {
    margin-top: 100px;
    img {
      width: 200px;
      height: 300px;
    }
  }

  .navigate-link {
    align-self: flex-end;
  }
}

@media (max-width: 1199px) {
  .single-char {
    grid-template-columns: 300px 1fr 150px;
    column-gap: 25px;
  }
}
@media (max-width: 767px) {
  .single-char {
    margin-top: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(150px, auto) auto;
    justify-items: center;
    align-content: center;
    text-align: center;
    row-gap: 25px;
  }
}
