@import '../../style/variables.scss';

.char {
  &__content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 650px 425px;
    min-height: 1100px;
    column-gap: 25px;
    align-items: start;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    column-gap: 25px;
    row-gap: 30px;
  }
  &__item {
    width: 200px;
    height: 318px;
    background-color: $dark;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
    cursor: pointer;
    transition: 0.3s transform;
    &-enter {
      opacity: 0;
      transform: scale(0.85);
    }
    &-enter-active {
      opacity: 1;
      transform: scale(1);
      transition: all 700ms ease-in;
    }

    &:hover {
      box-shadow: 0 5px 20px #9f0013;
      -webkit-transform: translateY(-8px);
      transform: translateY(-12px);
    }
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      transform: translate(-15px, -15px);
    }
  }
  &__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
  }
}

.item_selected {
  box-shadow: 0 5px 20px $main-color;
  transform: translateY(-12px);
}

@media (max-width: 1199px) {
  .char {
    &__content {
      grid-template-columns: 1fr 350px;
    }
    &__grid {
      grid-template-columns: repeat(3, 175px);
    }
    &__item {
      width: 175px;
      height: 265px;
      img {
        width: 175px;
        height: 175px;
      }
    }
    &__name {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media (max-width: 991px) {
  .char {
    &__content {
      grid-template-columns: 1fr 320px;
      margin-top: 40px;
    }
    &__grid {
      grid-template-columns: repeat(2, 175px);
    }
    &__item {
      width: 175px;
      height: 265px;
      img {
        width: 175px;
        height: 175px;
      }
    }
    &__name {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media (max-width: 767px) {
  .char {
    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      margin-top: 30px;
      // > :last-child {
      //   grid-row: 1;
      // }
      > div:last-child {
        grid-row: 1;
      }
    }
    &__grid {
      margin-top: 30px;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 7px;
      row-gap: 15px;
    }
  }
}

@media (max-width: 575px) {
  .char {
    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      margin-top: 30px;
      // > :last-child {
      //   grid-row: 1;
      // }
      > div:last-child {
        grid-row: 1;
      }
    }

    &__grid {
      margin-top: 30px;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5px;
      row-gap: 10px;
      justify-items: center;
    }

    &__item {
      padding: 10px 15px;
      width: 150px;
      height: 240px;
      &:hover {
        transform: none;
        box-shadow: 0 1px 5px #9f0013;
      }
      img {
        width: 150px;
      }
    }

    &__name {
      font-size: 15px;
      line-height: 16px;
    }
  }

  .item_selected {
    box-shadow: 0 1px 5px $main-color;
    transform: none;
  }
}
