@import '../../style/variables.scss';

.randomchar {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  &__block {
    padding: 40px 35px;
    display: grid;
    grid-template-columns: 180px auto;
    column-gap: 30px;
  }
  &__img {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }
  &__info {
    display: grid;
    grid-template-rows: minmax(29px, auto) 90px 38px;
    row-gap: 10px;
    padding-top: 3px;
  }
  &__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
  }
  &__descr {
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
  }
  &__btns {
    a:nth-child(1) {
      margin-right: 30px;
    }
  }
  &__static {
    padding: 40px 35px;
    background-color: $dark;
    position: relative;
    button {
      margin-top: 13px;
    }
  }
  &__title {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.045em;
    color: #ffffff;
    z-index: 100;
    &:nth-child(2) {
      margin-top: 33px;
    }
  }
  &__decoration {
    position: absolute;
    float: right;
    bottom: 14px;
    right: -37px;
  }
}

@media (max-width: 1199px) {
  .randomchar {
    &__block {
      padding: 20px;
    }
    &__btns {
      a:nth-child(1) {
        margin-right: 10px;
      }
    }
    &__decoration {
      width: 175px;
      right: -15px;
    }
  }
}
@media (max-width: 991px) {
  .randomchar {
    grid-template-columns: 55% 45%;
    &__block {
      grid-template-columns: auto auto;
      padding: 10px;
      gap: 10px;
    }
    &__img {
      width: 160px;
      height: 190px;
    }
    &__title {
      font-size: 23px;
      &:nth-child(2) {
        margin-top: 20px;
      }
    }
    &__info {
      grid-template-rows: minmax(29px, auto) 1fr 34px;
      row-gap: 5px;
      padding-top: 0;
    }

    &__static {
      padding: 15px;
    }
    &__btns {
      a:nth-child(1) {
        margin-right: 3px;
      }
    }
  }
}

@media (max-width: 767px) {
  .randomchar {
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    &__block {
      grid-template-columns: 160px auto;
      padding: 0;
    }
    &__info {
      grid-template-rows: minmax(29px, auto) 1fr 45px;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
    }
    &__name {
      text-align: center;
    }
    &__decoration {
      right: 5px;
    }
    &__btns {
      a:nth-child(1) {
        margin-right: 20px;
      }
      justify-self: center;
    }
    &__title {
      font-size: 20px;
    }
  }
}

@media (max-width: 575px) {
  .randomchar {
    grid-template-rows: 1fr 1fr;
    &__img {
      width: 140px;
      height: 150px;
    }
    &__name {
      font-size: 16px;
      line-height: 18px;
    }
    &__descr {
      display: none;
    }

    &__block {
      grid-template-columns: 150px 1fr;
      padding: 5px;
      gap: 0;
    }

    &__info {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    &__btns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a:nth-child(1) {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }

    &__static {
      padding: 10px;
      p {
        font-size: 16px;
      }
    }
  }
}
